*{
    border: 0;
    margin: 0;
    color: white;
}
body {
    background-color: rgb(9, 7, 15);
}
nav {
    background-color: rgb(35, 35, 130);
    padding: 20px;
    text-align: center;
}
.clock {
    display: flex;
    margin-left:25% ;
    margin-right: 25%;
    text-align: center;
    margin-top: 15%;
    font-size: 240px;
    gap :20px;
}